<ion-content class="perfil-fondo">
 <div class="caja1"></div>

  <div class="perfil-caja">
    <img src="assets/usuario.png" alt="Usuario" class="perfil-foto" />
    <button class="perfil-editar">
      <img src="assets/editar.png" alt="Editar" />
      Editar
    </button>
  </div>
      <div class="perfil-caja-blancasuperior">
      <div class="perfil-caja-blanca">
        <div class="perfil-item">
          <img src="assets/empresa.png" alt="RUC" class="perfil-icono" />
          <span class="perfil-texto">RUC</span>
        </div>
        <div class="perfil-item">
          <img src="assets/razonS.png" alt="Razon social" class="perfil-icono" />
          <span class="perfil-texto">Razon social</span>
        </div>
        <div class="perfil-item">
          <img src="assets/mensaje.png" alt="Correo" class="perfil-icono" />
          <span class="perfil-texto">Correo</span>
        </div>
        <div class="perfil-item">
          <img src="assets/telefono.png" alt="Número de Telefono" class="perfil-icono" />
          <span class="perfil-texto">Número de Telefono</span>
        </div>
      </div>
      <div class="caja2-contenedor">
  <div class="caja2"></div>
</div>
    </div>


</ion-content>
