<div class="statusbar-bg"></div>

<!-- Sidebar de categorías -->

<div class="sidebar" [class.active]="isMenuOpen">
  <div class="sidebar-header">
    <div class="sidebar-title">
      <span class="logo-sidebar">Productos</span>
  
      <i class="fas fa-times close-btn" (click)="closeMenu()"></i>
      
    </div>
    <div class="sidebar-subtitle">
     
    </div>
  </div>

  <div class="sidebar-content">
    <div class="sidebar-menu">
      <!--Boton de inicio -->
      <div class="home-section"></div>
      <div class="home-group">
        <a class="menu-btn btn-inicio" (click)="goToHome()">
          <i class="fas fa-home"></i>
          <span>Inicio</span>
        </a>
        <a class="menu-btn btn-cerrar-sesion" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i>
          <span>Cerrar sesión</span>
        </a>
      </div>

      <!-- Aca estan los botones mas su color de cada icono en mi menu productos , tapas y chapas y demas.. -->
      <ng-container *ngFor="let cat of categorias">
        <div class="sidebar-item" (click)="seleccionarCategoria(cat.nombre)">
          <div class="sidebar-icon">
            <i *ngIf="cat.icon" class="fas" [ngClass]="cat.icon" [style.color]="cat.nombre === 'Electricos' || cat.nombre === 'Elec.' ? '#ff4444' : '#ff4444'"></i>
          </div>
          <span class="sidebar-text">{{ cat.nombre }}</span>
          <button class="sidebar-arrow" (click)="$event.stopPropagation(); toggleItem(cat)">
            <i class="fas" [class.fa-caret-down]="!expandedItems[cat.nombre]" [class.fa-caret-up]="expandedItems[cat.nombre]"></i>
          </button>
        </div>
        <div class="sidebar-submenu" [class.active]="expandedItems[cat.nombre]" *ngIf="expandedItems[cat.nombre]">
          <ul class="submenu-list">
            <li class="submenu-item" *ngFor="let prod of cat.submenu">
              <button style="all:unset;cursor:pointer;color:#007bff" (click)="$event.stopPropagation(); seleccionarSubcategoria(prod)">{{ prod }}</button>
            </li>
          </ul>
        </div>
      </ng-container>
    </div>
    <!-- Botones principales ahora tienen el mismo estilo que el menú principal -->
  </div>
</div>

<!-- Overlay -->
<div
  class="sidebar-overlay"
  [class.active]="isMenuOpen"
  (click)="closeMenu()"
></div>
