<ion-header>
  <!-- Rectángulo blanco arriba (más alto que la barra de estado) -->
  <div class="statusbar-bg"></div>
  <ion-toolbar class="custom-toolbar">
    <div class="toolbar-content">
      <button class="menu-btn custom-menu-icon" (click)="openMenu()">
        <span class="menu-slider-icon">
          <span class="slider-line">
            <span class="slider-dot"></span>
          </span>
          <span class="slider-line">
            <span class="slider-dot"></span>
          </span>
          <span class="slider-line">
            <span class="slider-dot"></span>
          </span>
        </span>
      </button>
      <!-- Buscador moderno -->
      <div class="search-box">
        <input
          class="search-input"
          type="text"
          placeholder="BUSCAR PRODUCTOS"
        />
        <i class="fas fa-search search-icon"></i>
      </div>
      <!-- Carrito alineado igual que en el header global -->
      <i class="fas fa-shopping-cart cart-icon"></i>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="productos-grid">
    <div class="producto-card" *ngFor="let producto of productos">
      <img [src]="producto.imagen" alt="Producto" />
      <h2>{{ producto.nombre }}</h2>
      <p>{{ producto.descripcion }}</p>
      <div class="precio">s/. {{ producto.precio }}</div>
      <button class="btn-agregar">
        Agregar <i class="fas fa-shopping-cart"></i>
      </button>
    </div>
  </div>
</ion-content>

<!-- Sidebar de categorías como componente con esto importo siempre cada menu
 a todas las paginas que quiero en adelante -->
 
<app-menu-categorias
  [isMenuOpen]="isMenuOpen"
  [categorias]="(categorias$ | async) || []"
  (close)="closeMenu()"
></app-menu-categorias>
