<ion-header>
  <!-- Rectángulo blanco arriba (más alto que la barra de estado) -->
  <div class="statusbar-bg"></div>
  <ion-toolbar class="custom-toolbar">
    <div class="toolbar-content">
      <button class="menu-btn" (click)="openMenu()">
        <i class="fas fa-bars"></i>
      </button>
      <input
        class="search-input"
        type="text"
        placeholder="BUSCAR PRODUCTOS..."
      />
      <button class="cart-btn">
        <i class="fas fa-shopping-cart cart-icon"></i>
      </button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="productos-grid">
    <div class="producto-card" *ngFor="let producto of productos">
      <img [src]="producto.imagen" alt="Producto" />
      <h2>{{ producto.nombre }}</h2>
      <p>{{ producto.descripcion }}</p>
      <div class="precio">s/. {{ producto.precio }}</div>
      <button class="btn-agregar">
        Agregar <i class="fas fa-shopping-cart"></i>
      </button>
    </div>
  </div>
</ion-content>

<!-- Sidebar de categorías como componente -->
<app-menu-categorias
  [isMenuOpen]="isMenuOpen"
  [categorias]="categorias"
  (close)="closeMenu()"
></app-menu-categorias>
