<ion-header>
  <!-- Rectángulo blanco arriba (más alto que la barra de estado) -->
  <div class="statusbar-bg"></div>
  <ion-toolbar class="custom-toolbar">
    <div class="toolbar-content">
      <button class="menu-btn custom-menu-icon" (click)="openMenu()">
        <span class="menu-slider-icon">
          <span class="slider-line">
            <span class="slider-dot"></span>
          </span>
          <span class="slider-line">
            <span class="slider-dot"></span>
          </span>
          <span class="slider-line">
            <span class="slider-dot"></span>
          </span>
        </span>
      </button>
      <!-- Buscador moderno -->
      <div class="search-box">
        <input
          class="search-input"
          type="text"
          placeholder="BUSCAR PRODUCTOS"
          (input)="onBuscarProductos($event)"
        />
        <i class="fas fa-search search-icon"></i>
      </div>
      <!-- Carrito alineado igual que en el header global -->
      <i class="fas fa-shopping-cart cart-icon"></i>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Título centrado -->
  <div class="titulo-productos">
    <h1>TODOS LOS PRODUCTOS</h1>
  </div>

  <div class="productos-grid">
    <ng-container *ngIf="productosFiltrados.length > 0; else sinResultados">
      <div
        class="producto-card"
        *ngFor="let producto of productosFiltrados; let i = index"
        [ngClass]="{
          'intercalado-a': i % 2 === 0,
          'intercalado-b': i % 2 !== 0
        }"
      >
        <div class="card-info-superior" *ngIf="i % 2 !== 0">
          <p class="codigo">COD: {{ producto.codigo }}</p>
          <p class="precio-top">S/. {{ producto.precio.toFixed(2) }}</p>
        </div>

        <img [src]="producto.imagen" alt="{{ producto.nombre }}" />

        <h2>{{ producto.nombre }}</h2>
        <p>{{ producto.descripcion }}</p>

        <div class="precio">
          S/. {{ producto.precio.toFixed(2) }}
        </div>

        <button class="btn-agregar">
          Agregar <i class="fas fa-shopping-cart"></i>
        </button>

        <div class="card-info-inferior" *ngIf="i % 2 === 0">
          <p class="codigo">COD: {{ producto.codigo }}</p>
          <p class="precio-top">S/. {{ producto.precio.toFixed(2) }}</p>
        </div>
      </div>
    </ng-container>
    <ng-template #sinResultados>
      <div class="no-results">
        <i class="fas fa-box-open"></i>
        <p>No se encontraron productos.</p>
      </div>
    </ng-template>
  </div>
</ion-content>

<!-- Sidebar de categorías como componente con esto importo siempre cada menu
 a todas las paginas que quiero en adelante -->
 
<app-menu-categorias
  [isMenuOpen]="isMenuOpen"
  [categorias]="(categorias$ | async) || []"
  (close)="closeMenu()"
  (categoriaSeleccionada)="filtrarPorCategoria($event)"
  (subcategoriaSeleccionada)="filtrarPorCategoriaP('tapa')"
></app-menu-categorias>
