<ion-content>
  <!-- Fondo rojo con imagen fondohome1 -->
  <div class="home-fondo-img-wrapper">
    <img src="../../assets/fondohome1.png" alt="Fondo Home 1" class="home-fondo-img" />
  </div>

  <div class="container home-blanco">
    <div class="quienes-somos-section">
      <h3>¿Quiénes somos?</h3>
      <p>
        Con más de 20 años en el rubro automotriz. Nace distribuciones Jorzaba ofreciendo productos de calidad y precios cómodos en el mercado.
      </p>

      <div class="vision">
        <img src="../../assets/vision.png" alt="Visión" />
        <h4>Visión</h4>
        <p>
          Buscamos integrar la tecnología a través del catálogo digital, con el objetivo de brindar una experiencia de compra más ágil, organizada y accesible para todos nuestros clientes. Esta iniciativa refleja nuestro compromiso con la innovación y la mejora continua en el servicio.
        </p>
      </div>
    </div>

    <footer class="footer-text">
      Aplicación oficial de la distribuidora Representaciones Jorzaba
    </footer>
  </div>
</ion-content>
