<ion-content [fullscreen]="true">
  <div id="register">
    <h1>Registro</h1>
    <div class="input-group">
      <div class="input-icon">
        <span><ion-icon name="card"></ion-icon></span>
        <ion-input id="rucReg" type="text" placeholder="RUC"></ion-input>
      </div>
      <div id="rucReg-error" class="error-text"></div>
      <div class="input-icon">
        <span><ion-icon name="business"></ion-icon></span>
        <ion-input id="razonReg" type="text" placeholder="Razón social"></ion-input>
      </div>
      <div id="razonReg-error" class="error-text"></div>
      <div class="input-icon">
        <span><ion-icon name="mail"></ion-icon></span>
        <ion-input id="emailReg" type="email" placeholder="Correo"></ion-input>
      </div>
      <div id="emailReg-error" class="error-text"></div>
      <div class="input-icon">
        <span><ion-icon name="call"></ion-icon></span>
        <ion-input id="telReg" type="tel" placeholder="Número de teléfono"></ion-input>
      </div>
      <div id="telReg-error" class="error-text"></div>
    </div>
    <ion-button expand="block" id="btnRegister">Enviar solicitud</ion-button>
    <div class="link" style="margin-top:10px;">
      ¿Ya tienes cuenta? <a routerLink="/login">Volver al login</a>
    </div>
  </div>
  <!-- Modal de éxito flotante -->
  <div *ngIf="registroExitoso" class="modal-exito">
    <div class="modal-exito-content">
      <img src="assets/bienvenido.png" alt="Bienvenido" class="icono-bienvenido" />
      <div class="mensaje-exito">¡Registro exitoso!</div>
    </div>
  </div>
</ion-content>
